language: node_js

node_js:
  - 0.8

branches:
  only:
    - master
    - travis-ci

# Not using `npm install --dev` because it is recursive. It will pull in the all
# development dependencies for CoffeeScript. Way too much spew in the Travis CI
# build output.

before_install:
  - npm install
  - npm install istanbul coveralls

env:
  global:
  - secure: "GJDidcJjx0lBVTBcFe+ErYh/XC+B9DJMLkxsQT7v4eVCP/DF/o4vShpUAYs5+3/ogQnAAx5HIISvf7YnnWXazlDfQ3ngb88aqa6OPq4d1fydOifkuwqhcqNY/dHdmGEm1L26BsocsY61TbAUbIwSUc1iruwHHfYxAmRXvui2cVQ="
